<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Welcome</h2>
        <p>Your account was created.</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div> 